html, body{
    margin:0;
    padding:0;
    font-family: 'Roboto';
    color: #353432;
}
body{
    background-color:#F9F5F5;
    scroll-behavior: smooth;
}
.wrapper{
    width:75%;
    margin:auto;
}
.main{
    margin-top:100px;
}
h1 {
    margin:0;
    font-size: 3em;
    font-weight: 500;
}
.grid-item h3 {
        margin:0;
        font-size: 1.3em;
        font-weight: 200;
        margin:10px;
        text-align:center;
}
.MainMenu {
    background-color: white;
    width: 100%;
    height:50px;
    border-bottom:1px solid #EDEDED;
    position:fixed;
    top:0;
}
ul {
    list-style-type: none;
    margin:0;
    line-height:3em;
    text-align:left;
    padding:0;
}
li {
    display: inline;
    font-size: 1.25em;
    font-weight: 600;
}
li + li{
    margin-left: 15px;
}
li a{
    text-decoration:none;
    color: red;
}
li a:hover{
    color: #f088b6;
    cursor:pointer;
    transition:color 0.1s ease;
}
.sitelogo {
    vertical-align: middle;
    max-height: 2em;
    max-width: 160px;
}
.logoContainer{
    height:100%;
    margin-left:20px;
    display:flex;
    align-items:center;
    float:left;
}
.grid-container{
    width:100%;
    display: inline-grid;
    grid-template-columns:auto auto auto auto;
    grid-gap:10px;
}
.grid-item{
    background-color:white;
    box-shadow: 0 0 3px hsla(0,0%,74.5%,.3);
    border-radius:3px;
}
.grid-img-container{
    width:100%;
    height:150px;
    display:flex;
    justify-content:center;
}
.grid-img-container img{
    max-width:150px;
    max-height:150px;
}
.grid-item p:first{
    margin-left:10px;
}
.grid-item p + p{
    margin-left:2px;
}
.grid-item .grid-text-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:2em;
    margin-bottom:10px;
}
.grid-text-container .price{
    font-weight: bold;
    color:black;
}
.number span {
    cursor:pointer; 
}
.number{
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom:20px;
    height:2em;
}
.number input:hover{
    background-color: #f088b6;
    transition:background-color 0.1s ease;
}
.minus, .plus{
    width:32px;
    height:32px;
    line-height:32px;
    background-color:#e13205;
    border-radius:50%;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    color: white;
}
.plus, input{
    margin-left:5px;
}
input{
    height:32px;
    width: 40px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}
.price {
    font-size: 2em;
    margin:0;
}
.unit{
    margin:0;
    vertical-align:middle;
}